<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
                integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
                integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <style>
                body::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url(../images/bgmac.jpg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        /* z-index: 100; */
                }
        </style>
</head>

<body class=" flex overflow-hidden text-white">
        <div class="hero h-full w-full absolute flex  overflow-hidden text-black">
                <ul
                        class=" h-full bg-zinc-200/50  backdrop-blur-3xl max-md:justify-around max-md:h-[8%] max-md:w-full max-md:absolute max-md:bottom-0 max-md:left-0 max-md:z-50 max-md:flex-row flex flex-col w-[4%] items-center  gap-7 p-4  text-black">
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] text-zinc-900  fa-house text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-regular max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-compass text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-regular max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-comment-dots text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-video text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-globe text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-bell text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-circle-plus text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                        <li><i class="fa-solid max-md:text-[24px]  max-[480px]:text-[18px] max-[1200px]:text-[18px] fa-search text-zinc-900 text-[22px] w-6 max-[1024px]:w-auto"></i>
                        </li>
                </ul>
                <div class="seperation w-px bg-zinc-800 h-full max-[580px]:hidden"></div>
                <div
                        class="ib b relative overflow-y-auto w-[20%] max-[1200px]:w-[30%] max-[850px]:w-[10%] max-[580px]:w-full  bg-zinc-300/35 backdrop-blur-[18px]">
                        <div class="input w-full relative px-5 py-3">
                                <i
                                        class="fas fa-search absolute max-[850px]:hidden text-zinc-400 left-7 top-1/2 -translate-y-1/2"></i>
                                <input class="p-1 outline-none w-full text-black max-[580px]:flex  max-[850px]:hidden bg-zinc-300 rounded-md pl-8"
                                        placeholder="Search" type="text" />
                        </div>

                        <div class="flex max-[850px]:hidden max-[580px]:flex mt-2 justify-between px-4">
                                <p>messages</p>
                                <button class="text-blue-500">requests</button>
                        </div>

                        <div class="users mt-5 flex flex-col gap-1">

                                <% if (allUsers.length> 0) { %>
                                        <% allUsers.forEach(e=> { %>
                                                <div class="user cursor-pointer max-[850px]:mt-2  max-[580px]:w-full hover:bg-zinc-300 max-[850px]:hover:bg-transparent max-[580px]:px-4 max-[580px]:py-2 px-4 py-2 max-[850px]:p-0"
                                                        id="<%=e._id %>">
                                                        <div
                                                                class="flex gap-3 items-center max-[850px]:gap-0 max-[580px]:w-full max-[580px]:justify-start max-[580px]:gap-4 max-[850px]:justify-center">
                                                                <div class="relative">
                                                                        <img src="data:image/png;base64,<%= e.pfp %>"
                                                                                class="w-11 h-11 object-cover rounded-full object-top"
                                                                                alt="">
                                                                        <div id="status-<%= e._id %>"
                                                                                class="absolute w-[13px]  bottom-0 right-[1px] h-[13px] rounded-full <%= e.is_active ? 'bg-green-500' : 'bg-red-500' %> border-[3px] border-zinc-900">
                                                                        </div>

                                                                </div>
                                                                <div class="max-[850px]:hidden max-[580px]:block">
                                                                        <p class="text-[16px]">
                                                                                <%=e.username %>
                                                                        </p>
                                                                        <p class="text-[12px] lastMsg text-zinc-800">
                                                                                last
                                                                                message <span
                                                                                        class="font-extrabold">.</span>
                                                                                <span>1h</span>
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <% }) %>
                                                        <% } else { %>
                                                                <h2
                                                                        class="absolute  top-[50%] left-1/2 z-30 text-nowrap -translate-x-1/2 -translate-y-1/2">
                                                                        Add some friends first</h2>
                                                                <% }%>


                        </div>
                </div>
                <div class="seperation w-px bg-zinc-800 h-full  max-[580px]:hidden"></div>

                <div
                        class="dm w-[76%] max-[580px]:hidden max-md:h-[92%] max-[850px]:w-[86%] max-md:w-[90%] max-[580px]:w-full bg-zinc-400/15 backdrop-blur-[11px] relative">


                        <div
                                class="absolute max-[580px]:hidden dummyText gap-1 flex flex-col justify-center items-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                <svg aria-label="" class="x1lliihq x1n2onr6 x5n08af" fill="white" height="96" role="img"
                                        viewBox="0 0 96 96" width="96">
                                        <title></title>
                                        <path
                                                d="M48 0C21.532 0 0 21.533 0 48s21.532 48 48 48 48-21.532 48-48S74.468 0 48 0Zm0 94C22.636 94 2 73.364 2 48S22.636 2 48 2s46 20.636 46 46-20.636 46-46 46Zm12.227-53.284-7.257 5.507c-.49.37-1.166.375-1.661.005l-5.373-4.031a3.453 3.453 0 0 0-4.989.921l-6.756 10.718c-.653 1.027.615 2.189 1.582 1.453l7.257-5.507a1.382 1.382 0 0 1 1.661-.005l5.373 4.031a3.453 3.453 0 0 0 4.989-.92l6.756-10.719c.653-1.027-.615-2.189-1.582-1.453ZM48 25c-12.958 0-23 9.492-23 22.31 0 6.706 2.749 12.5 7.224 16.503.375.338.602.806.62 1.31l.125 4.091a1.845 1.845 0 0 0 2.582 1.629l4.563-2.013a1.844 1.844 0 0 1 1.227-.093c2.096.579 4.331.884 6.659.884 12.958 0 23-9.491 23-22.31S60.958 25 48 25Zm0 42.621c-2.114 0-4.175-.273-6.133-.813a3.834 3.834 0 0 0-2.56.192l-4.346 1.917-.118-3.867a3.833 3.833 0 0 0-1.286-2.727C29.33 58.54 27 53.209 27 47.31 27 35.73 36.028 27 48 27s21 8.73 21 20.31-9.028 20.31-21 20.31Z">
                                        </path>
                                </svg>
                                <h2 class="text-xl text-white">Your Messages</h2>
                                <p class="text-[14px] text-zinc-500">start a message by clicking any chat</p>
                        </div>

                        <div class="textContainer s h-full w-full ">
                                <div class="flex headSection p-4 gap-3 h-[10%] items-center">

                                </div>
                                <div class="seperation w-full bg-zinc-600 h-px "></div>

                                <div
                                        class="texts shadow-sm p-3 h-[80%]  relative w-full overflow-y-auto flex flex-col gap-1">




                                        <div
                                                class="noChats hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                                                No chats to show..</div>


                                </div>


                                <div class="h-[10%] relative flex justify-self-center items-center w-full px-4">
                                        <form id="chat-form"
                                                class="flex w-full h-[45px] relative rounded-full items-center px-3 border border-zinc-600">
                                                <i class="fa-regular fa-face-smile text-white"></i>
                                                <input type="text"
                                                        class=" bg-transparent text-white h-[24px] resize-none flex items-center outline-none px-3 w-full"
                                                        name="text" id="text">
                                                <button
                                                        class="text-white text-xl bg-blue-600 absolute h-full px-4 rounded-r-full  right-0">send</button>
                                        </form>
                                </div>
                        </div>

                </div>
                <div class="seperation-about w-px bg-zinc-800 hidden max-md:hidden max-[1200px]:hidden h-full"></div>
                <div class="about hidden w-[18%] max-md:hidden bg-zinc-300/35 backdrop-blur-[18px]">
                        <div class="flex flex-col w-full items-center">
                                <h2 class=" text-[18px] flex items-center p-2">Profile info</h2>
                                <div class="seperation w-full bg-zinc-400 h-px "></div>

                                <img src="" class="w-28 mt-4 h-28 object-cover aboutImg object-top rounded-full" alt="">
                        </div>
                        <div class="flex justify-center gap-3 mt-4">
                                <button
                                        class="bg-zinc-300 w-[95px] max-[1400px]:w-[70px] max-[1400px]:text-[12px] text-nowrap py-1 rounded-md">view
                                        profile</button>
                                <button
                                        class="bg-red-600 w-[95px] max-[1400px]:w-[70px] max-[1400px]:text-[12px] text-nowrap py-1 rounded-md text-white">report</button>
                        </div>


                </div>
        </div>






        <!-- <script src="/javascripts/script.js"></script> -->
        <script>
                let users = document.querySelectorAll('.user')
                let textContainer = document.querySelector('.textContainer')
                let dummyText = document.querySelector('.dummyText')
                let chat_form = document.querySelector('#chat-form')
                let text_Container = document.querySelector('.texts')
                let text = document.querySelector('#text')
                let noChat = document.querySelector('.noChats')


                // realText.forEach(e=>{
                //         e.addEventListener('')
                // })

                var sender_id = '<%=user._id %>'
                var reciever_id
                var delete_id
                var edit_id



                var socket = io('/chat', {
                        auth: {
                                token: sender_id
                        }
                });

                socket.on('showOnline', function (data) {
                        // console.log(data)
                        let elem = document.getElementById(`status-${data.user_Id}`)
                        elem.classList.remove('bg-red-500')
                        elem.classList.add('bg-green-500')
                });

                socket.on('showOffline', function (data) {
                        let elem = document.getElementById(`status-${data.user_Id}`)
                        elem.classList.remove('bg-green-500')
                        elem.classList.add('bg-red-500')
                });

                users.forEach(e => {
                        e.addEventListener('click', (elem) => {
                                elem.stopPropagation()
                                dummyText.style.display = 'none'
                                const breakpoint = window.matchMedia("(max-width: 1200px)");
                                const breakpointt = window.matchMedia("(max-width: 850px)");
                                const mobileSize = window.matchMedia("(max-width: 580px)");
                                if (!breakpoint.matches) {
                                        document.querySelector('.about').style.display = 'block'
                                        document.querySelector('.seperation-about').style.display = 'block'
                                }
                                if (mobileSize.matches) {
                                        document.querySelector('.ib').style.display = 'none'
                                        document.querySelector('.dm').style.display = 'block'
                                        textContainer.style.display = 'block'
                                        console.log('hiiiiiii')
                                }
                                textContainer.style.display = 'block'
                                reciever_id = elem.currentTarget.id
                                if (!breakpointt.matches) {
                                        users.forEach(li => li.classList.remove('bg-zinc-300'));
                                        elem.currentTarget.classList.add('bg-zinc-300');
                                }

                                loadOldChat()


                                socket.emit('catchIds', { sender_id, reciever_id })
                                socket.on('userInfo', (data) => {
                                        // console.log(data)
                                        document.querySelector('.headSection').innerHTML = `<img src="data:image/png;base64,${data.pfp}" class="w-10 h-10 object-cover  rounded-full object-top" alt="">
                                                                                                <p class='text-white'>${data.username}</p>
                                                                                                <i class="fa-solid fa-ellipsis ml-auto text-white"></i>`
                                        document.querySelector('.aboutImg').src = `data:image/png;base64,${data.pfp}`
                                })




                        })
                })

                chat_form.addEventListener('submit', (e) => {
                        e.preventDefault()

                        if (text.value != '') {
                                fetch('/save-chat', {
                                        method: 'POST',
                                        headers: {
                                                'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                                sender_id: sender_id,
                                                reciever_id: reciever_id,
                                                text: text.value,
                                        }),
                                }).then((data) => {
                                        return data.json()
                                }).then(resp => {
                                        console.log(resp)

                                        if (resp.success) {
                                                if (noChat) {
                                                        noChat.style.display = 'none'
                                                }
                                                let html = `<h2 id='${resp.chat._id}-text'  class="text-right  relative  realText  w-full">
                                        <div class="wrapper">
                                                <span
                                                class="bg-zinc-300 shadow-2xl shadow-black group cursor-pointer relative inline-block shadow-2xl z-1 text-[14px] max-w-[60%] text-left px-4 py-2 rounded-lg">
                                                ${resp.chat.message}

                                                <div
                                                        class="hidden group-hover:flex absolute right-[102%] top bg-zinc-300/40 backdrop-blur-3xl-0 flex-col z-50 text-white rounded-lg w-48 py-4 shadow-lg">
                                                        <!-- Timestamp -->
                                                        <div class="text-sm text-left text-zinc-900 px-4 mb-4">Mon 00:02
                                                        </div>

                                                        <!-- Forward Button -->
                                                        <button
                                                                class="flex items-center justify-start text-sm px-4 text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">✈️</span>
                                                                Forward
                                                        </button>

                                                        <!-- Separator -->
                                                        <div class="border-t  border-gray-600"></div>

                                                        <!-- Copy Button -->
                                                        <button
                                                                class="flex items-center justify-start px-4 text-sm text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">📋</span>
                                                                Copy
                                                        </button>
                                                        <div class="border-t  border-gray-600"></div>


                                                        <!-- Separator -->
                                                        <button
                                                                id='${resp.chat._id}'
                                                                class="flex editMessage items-center justify-start px-4 text-sm text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">✒️</span>
                                                                Edit
                                                        </button>

                                                        <!-- Separator -->
                                                        <div class="border-t border-gray-600"></div>

                                                        <!-- Unsend Button -->
                                                        <button
                                                                id='${resp.chat._id}'
                                                                class="flex items-center deleteMessage justify-start px-4 text-sm text-[red] hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">↩️</span>
                                                                Unsend
                                                        </button>
                                                </div>
                                        </span>
                                        </div>

                                </h2>`
                                                document.querySelector('.texts').innerHTML += html
                                                text.value = ''
                                                scrollChat()
                                                deleteMessage()
                                                editMessage()
                                                loadOldChat()
                                                socket.emit('newChat', resp.chat)
                                        }

                                })
                        }

                })

                socket.on('loadChat', (data) => {
                        console.log('loadChat: ', data)
                        if (noChat) {
                                noChat.style.display = 'none'
                        }
                        if (sender_id == data.recieverId && reciever_id == data.senderId) {
                                let html = `<h2 id='${data._id}-text' class="text-left w-full"><span class="border border-zinc-700 inline-block text-[14px] max-w-[60%] text-left px-4 py-2 rounded-lg">${data.message}</span></h2>`
                                document.querySelector('.texts').innerHTML += html
                                scrollChat()
                        }
                })



                function scrollChat() {
                        console.log('text container', text_Container);
                        console.log('text container length: ', text_Container.scrollHeight);


                        setTimeout(function () {
                                text_Container.scrollTop = text_Container.scrollHeight;
                        }, 0);

                }

                socket.on('deletedMsgEvent', (id) => {
                        console.log('broadcast', id)
                        console.log(document.getElementById(`${id}-text`))
                        document.getElementById(`${id}-text`).remove();
                })


                function loadOldChat() {
                        socket.on('loadOldChats', (data) => {
                                let chats = data

                                if (chats.length > 0) {
                                        document.querySelector('.texts').innerHTML = ''
                                        let html = ''

                                        chats.forEach(e => {
                                                console.log('text', e)

                                                if (e.senderId === sender_id) {
                                                        // html += `<h2 class="${className} w-full"><span class="${bg} inline-block text-[14px] max-w-[60%] text-left px-4 py-2 rounded-full">${e.message}</span></h2>`
                                                        html += `<h2 id='${e._id}-text' class="text-right relative  realText  w-full">
                                        <div class="wrapper">
                                                <span
                                                class="bg-zinc-300 shadow-2xl z-1 shadow-black group cursor-pointer relative inline-block text-[14px] max-w-[60%] text-left px-4 py-2 rounded-lg">
                                                ${e.message}

                                                <div
                                                        class="hidden group-hover:flex absolute z-50 right-[102%] bg-zinc-300/40 backdrop-blur-3xl top-0 flex-col z-50 text-white rounded-lg w-48 py-4 shadow-lg">
                                                        <!-- Timestamp -->
                                                        <div class="text-sm text-left text-zinc-900 px-4 mb-4">Mon 00:02
                                                        </div>

                                                        <!-- Forward Button -->
                                                        <button
                                                                class="flex items-center justify-start text-sm px-4 text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">✈️</span>
                                                                Forward
                                                        </button>

                                                        <!-- Separator -->
                                                        <div class="border-t  border-gray-600"></div>

                                                        <!-- Copy Button -->
                                                        <button
                                                                class="flex items-center justify-start px-4 text-sm text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">📋</span>
                                                                Copy
                                                        </button>
                                                        <div class="border-t  border-gray-600"></div>


                                                        <!-- Separator -->
                                                        <button
                                                                id='${e._id}'
                                                                class="flex editMessage items-center justify-start px-4 text-sm text-zinc-900 hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">✒️</span>
                                                                Edit
                                                        </button>

                                                        <!-- Separator -->
                                                        <div class="border-t border-gray-600"></div>

                                                        <!-- Unsend Button -->
                                                        <button
                                                                id='${e._id}'
                                                                class="flex items-center deleteMessage justify-start px-4 text-sm text-[red] hover:bg-zinc-300/50 py-3">
                                                                <span class="mr-2">↩️</span>
                                                                Unsend
                                                        </button>
                                                </div>
                                        </span>
                                        </div>

                                </h2>`
                                                } else {
                                                        // className = 'text-left '
                                                        // bg = 'border border-zinc-700'
                                                        html += `<h2 id='${e._id}-text' class="text-left w-full"><span class="border border-zinc-700 inline-block text-[14px] max-w-[60%] text-left px-4 py-2 rounded-full">${e.message}</span></h2>`
                                                }

                                        })
                                        document.querySelector('.texts').innerHTML = html
                                        scrollChat()
                                        deleteMessage()
                                        editMessage()



                                } else {
                                        noChat.style.display = 'block'
                                }
                        })
                }



                function deleteMessage() {
                        let allMsg = document.querySelectorAll('.deleteMessage')
                        allMsg.forEach((e) => {
                                e.addEventListener('click', (e) => {
                                        delete_id = e.target.id
                                        console.log(delete_id)

                                        fetch('/delete-chat', {
                                                method: 'POST',
                                                headers: {
                                                        'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify({
                                                        delete_id: delete_id
                                                })
                                        }).then(res => {
                                                return res.json()
                                        }).then(data => {
                                                if (data.success) {
                                                        document.getElementById(`${delete_id}-text`).remove()
                                                        socket.emit('deleteMsg', delete_id)
                                                } else {
                                                        alert('something went wrong')
                                                }
                                        })
                                })
                        })
                }

                function editMessage() {
                        let allMsg = document.querySelectorAll('.editMessage')
                        allMsg.forEach((e) => {
                                e.addEventListener('click', (e) => {
                                        edit_id = e.target.id
                                        console.log(edit_id)

                                        fetch('/edit-chat', {
                                                method: 'POST',
                                                headers: {
                                                        'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify({
                                                        edit_id: edit_id
                                                })
                                        }).then(res => {
                                                return res.json()
                                        }).then(data => {
                                                if (data.success) {
                                                        text.value = data.msg.message
                                                        text.focus()
                                                        chat_form.addEventListener('submit', (e) => {
                                                                e.preventDefault()
                                                                fetch('/update-chat', {
                                                                        method: 'POST',
                                                                        headers: {
                                                                                'Content-Type': 'application/json',
                                                                        },
                                                                        body: JSON.stringify({
                                                                                text: text.value,
                                                                                id: data.msg._id
                                                                        })
                                                                }).then(res => {
                                                                        return res.json()
                                                                }).then(data => {
                                                                        console.log('dattttatatatat', data)
                                                                        loadOldChat()
                                                                })
                                                        })
                                                }
                                        })
                                })
                        })
                }


                const aboutSection = document.querySelector('.about');

                const breakpoint = window.matchMedia("(max-width: 1200px)");


                function handleBreakpointChange(e) {
                        if (e.matches) {
                                aboutSection.style.display = 'none'
                        }
                }

                breakpoint.addEventListener('change', handleBreakpointChange);

                handleBreakpointChange(breakpoint);


        </script>
</body>

</html